<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="x-icon" href="../static/images/icon.png">
    <link href="../static/css/info.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IntelligentS</title>

</head>
<body>
    <header>
        <ul class="nav_bar">
            <li class = "l-block"><a class="first_list" href="http://127.0.0.1:5000/home">Home</a></li>
            <li class = "l-block"><a class="first_list" href="http://127.0.0.1:5000/info">Info</a></li>
            <li class = "l-block"><a class="first_list" href="http://127.0.0.1:5000/discover">Discover</a></li>
        </ul>
    </header>
    <div class="text1">
        <p class="subtitle1">Here you can search for our statistics and real time events. </p>
    </div>
    <ul >
        <div class="intersections">
            <div class="dropdown">
                <button>Intersections</button>
                <div class="dropdown-options">
                    <a href="http://127.0.0.1:5000/infoTeatru">Teatru</a>
                    <a href="#">Mecanica</a>
                    <a href="#">Electroputere</a>
                </div>
            </div>
        </div>
        <div class="Statistics">
                <div class="dropdown">
                    <button>Statistics</button>
                    <div class="dropdown-options">
                        <a href="#">Item1</a>
                        <a href="#">Item2</a>
                        <a href="#">Item3</a>
                    </div>
                </div>
        </div>
    </ul>

</body>
</html>